<!DOCTYPE html>

<html>
<head>
    <title>第一頁</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/StyleSheet.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>


<!-- 
    <script>
    $(document).ready(function(){
      $("form").submit(function(){
        if(@ViewBag.Page == "2"){
          alert("確認?");}
      });
      $("#Gender2").hide();
    });
    </script>
-->

 
    <script>
    $(document).ready(function()
    {
      $("input").focus(function(){
        $(this).css("background-color","gray");
      });
      $("input").blur(function(){
        $(this).css("background-color","green");
      });
        
      $("button").mouseenter(function()
      {
        $("button").css("background-color","yellow");
      });

      $("button").mouseleave(function()
      {
        $("button").css("background-color","lightgray");
      });
        
      $("form").submit(function()
      {
        if(@ViewBag.Page == "2") alert("確認?"); 
      });
      $("button").click(function()
      {
        $("form").submit();        
      });    
    });
    </script>

    <style>
        label {
            display: inline-block;
            width: 5em;
        }
    </style>
</head>


@using (Html.BeginForm())
{
<body>
    <form action="">
        <div class="hero">
            <h2>和碩聯合科技員工</h2>
            <div class="MyTitleStyle">
                <p>
                    <a title="輸入名字" style="color:DarkRed">@ViewBag.name</a>

@ViewBag.Page
                    @Html.Partial("_Name")
@TempData["TextBox1"]
                    <!--顯示部門的DropDownList-->
                <p>
                    <a title="選擇部門" style="color:Black">@ViewBag.department</a>
@ViewBag.Page
                    @Html.DropDownList("BU", null, new { size = "1", style = "font-size:20px;background-color:green" })
                    <br>
                   
                    
                    <!--輸入性別的RadioButton-->
                    @Html.Partial("_Sex")

                    
            </div>
        </div>
    </form>
    
        @if (ViewBag.Page == 1)
        { <button>下一步</button> }
        else if (ViewBag.Page == 2)
        { <button>確認</button> }


</body>
}
</html>